@{
    ViewBag.Title = "Some Pictures";
}
<section id="banner" class="somepictures">
    <div class="container">
        <div class="center">
            @*<h3>Take a moment to look at my</h3>*@
            <br/>
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section><!--/banner-->
<br />
<br />
<br/>
<br/>
<section id="blog" class="container wow fadeInDown">
    <section id="portfolio">
        <div class="container">

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Photos</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".moments">Moments</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".visions">Visions</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wheels">Wheels</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items">

                    <div class="portfolio-item moments col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments1.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments1.jpg") alt="">
                            </a>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item moments col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments2.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments2.jpg") alt="">
                            </a>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item moments col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments3.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments3.jpg") alt="">
                            </a>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item moments col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments4.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Moments4.jpg") alt="">
                            </a>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions1.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions1.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions2.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions2.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions3.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions3.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions5.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions5.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions6.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions6.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions7.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions7.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions8.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions8.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions9.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions9.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions10.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions10.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions11.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions11.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions12.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions12.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions14.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions14.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions15.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions15.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions16.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions16.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item visions col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions17.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Visions17.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels1.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels1.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels2.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels2.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels3.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels3.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels4.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels4.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels5.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels5.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels6.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels6.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels7.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels7.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels8.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels8.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels9.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels9.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels10.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels10.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                    <div class="portfolio-item wheels col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <a class="preview" href=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels11.jpg") rel="prettyPhoto">
                                <img class="img-responsive" src=@Url.Content("~/Content/themes/corlate/images/SomePictures/Wheels11.jpg") alt="">
                            </a>
                        </div><!--/.portfolio-item-->
                    </div>

                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
</section><!--/#blog-->
