@{
    ViewBag.Title = "Who I am";
}

<section id="banner" class="whoiam">
    <div class="container">
        <div class="center">
            <br />
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section><!--/banner-->
<section id="whoIam">
    <div class="container wow fadeInDown">
        <div class="center">
            <br />
            <br />
            <h2>A few fun facts</h2>
            <p class="lead">
                I'm 5 feet and 11 inches, about 159 pounds man. When this man becomes part of a group his adernaline starts going up. I enjoy meeting new people. My favorite number is 7. I'm left handed/footed.
                I have few great friends. I drive alot and don't get tired, I do love roads... my music is always up.
                I swim, I dive. I see n follow my career like a manager still yet to be manager. sometimes I get into myself deeply and lonely that hardly anybody can find a path inside..
            </p>
        </div>
        <img class="img-responsive img-figure" src=@Url.Content("~/Content/themes/corlate/images/WhoIam/WhoIamCollection.png") alt="">
        <br />
        <br />
        <div class="center">
            <h2>A look into my current career</h2>
            <p class="lead">
                I'm master graduated of Software Engineering, who worked not only in Development part of software life cycle but also Requirement Management, Sales, Project Management, Test and etc.

                My main strength is having combination of soft skills mixed with technical knowledge which helps me express myself accurately and professionaly. Currently I work as executive Microsoft technology developer in Exact. I have solid insight about CRM, Accounting, HRMS and Finance systems.
            </p>
        </div>
    </div><!--/.container-->
</section><!--/about-us-->
