@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<section id="banner">
        <div class="container">
            <div class="center">
                <h1>Who I am?</h1>
            </div>
        </div>
</section><!--/banner-->
<section id="whoIam">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>A few fun facts</h2>
            <p class="lead">I'm 5 feet and 9 inches, about 159 pounds. When I become part of a crowd my adernaline starts going up. My favorite number is 7. I'm left handed footed.
            I have more than 1 great Baradar. I drive alot and I don't get tired, I love the road. my music is always up. 
            I swim, I dive. I work like a manager still yet to be manager. sometimes I get into myself deeply that hardly anybody can find a path inside...</p>
        </div>

        <div class="center wow fadeInDown">
            <h2>A look into my life</h2>
            <p class="lead">
                I'm master graduate of Software Engineering who worked in not only develope parts of software life cycle but requirement engineering, sales, project management.
                Test and so on. My main strength is combination of soft skill mixed with technical knowledge help me express myself acurately while interesting to listen.
                Currently I work as executive software developer coding ASP.NET in Exact. 
                I hvae solid insight about CRM, Accounting, HRMS and Finance systems. 
            </p>
        </div>

        <img src="~/client1.png" />
        <!-- Our Skill -->
        <div class="skill-wrap clearfix">

            <div class="center wow fadeInDown">
                <h2>Our Skill</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="joomla-skill">
                            <p><em>85%</em></p>
                            <p>Joomla</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="html-skill">
                            <p><em>95%</em></p>
                            <p>HTML</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <div class="css-skill">
                            <p><em>80%</em></p>
                            <p>CSS</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        <div class="wp-skill">
                            <p><em>90%</em></p>
                            <p>Wordpress</p>
                        </div>
                    </div>
                </div>

            </div>

        </div><!--/.our-skill-->
    </div><!--/.container-->
</section><!--/about-us-->
