@{
    ViewBag.Title = "Contact";
}
<section id="banner" class="mycontact">
    <div class="container">
        <div class="center">
            <br/>
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section><!--/banner-->
<section id="contact-page">
    <div class="container wow fadeInDown">
    <br/>
    <br/>
        <div class="row">
                <h4>Arash Sadrnejad</h4>
                <p>
                    Kuala lumpur, Malaysia
                </p>
                <h5>+60104302722</h5>
                <p> arash.sdr@gmail.com</p>
        </div>

    </div><!--/.container-->
</section><!--/#contact-page-->
