@{
    ViewBag.Title = "Curriculum Vitae";
}

<section id="banner" class="curriculumvitae">
        <div class="container">
            <div class="center">
                <br/>
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
</section><!--/banner-->
<section id="CurriculumVitae">
    <div class="container">
        <div class="center wow fadeInDown">
            <br/>
            <br/>
            <h2>You may download the file..</h2>
            <p class="lead">
                This is prepared mainly for Software Engineering position, dated late 2015. For each of the backgrounds and experiences there are references whom their contact would be provided upon the request.  
            </p>
            <div class=""></div>
            <A class="btn btn-primary" href=@Url.Content("~/Content/Resources/CurriculumVitae/ArashCV31082015.pdf") download> PDF version </A>
        </div>

    </div><!--/.container-->
</section><!--/about-us-->


